{% extends "base.html" %}
{% block title %}My profile{% endblock %}
{% block content %}
 {% if author %}
<p><h3>{{author.username}}</p></h3>
    <p>{{author.email}}</p>
        {% if post %}
            {% for post in post %}
                <p><a href="{% url 'post_detail' post.id%}">{{post.title}}</a>
                <p>{{post.text}}</p>
                <p>{{post.comments_set.all}}</p>
            {% endfor %}
        {% else %}
            <p> Has no post</p>
        {% endif %}

 {% else %}
    <p>Has not post</p>
 {% endif %}
{% endblock %}